<%- include('../includes/head.ejs') %>
<style>
/* Style for the main content */
main {
  max-width: 600px; 
  margin: 0 auto;
  padding: 20px;
}

/* Style for the product title */
h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

/* Style for the image */
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Style for the product price */
h2 {
  font-size: 20px;
  color: #007bff; 
  margin-bottom: 10px;
}

/* Style for the product description */
p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

</style>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1><%= product.title %></h1>
        <hr>

        <div>
            <img src="<%= product.imagUrl %>" alt="<%= product.title %>">
        </div>
        <h2><%= product.price %></h2>
        <p><%= product.description %></p>
        <%- include('../includes/add-to-cart.ejs') %>
    </main>
    <%- include('../includes/end.ejs') %>
